<!DOCTYPE html>
<html ng-app="<%= appName == undefined?"":appName  %>">
<head>
  <meta charset="UTF-8">
  <!--<title>学习NodeJS使用EJS模板引擎</title>-->
  <title><%=title%></title>

  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/javascripts/modernizr-2.6.2.js"></script>
  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/respond.js"></script>
  <script src="/javascripts/jquery.json.js"></script>

  <!--angularjs-->
  <script src="/javascripts/angularjs/angular.min.js"></script>
  <script src="/javascripts/angularjs/i18n/angular-locale_zh-cn.js"></script>

  <script src="/javascripts/Utility/UtilityTools.js"></script>

  <script type="text/javascript" src="/appjs/common.js"></script>
</head>
<body>


</body>
</html>