<%
//var html = new EJS({url: 'shared/_layout.ejs'}).render(data)
%>
<!--布局页-->
<% include shared/_layout %>
<!--头部-->
<% include shared/_layout_navbar.ejs %>


<div class="container body-content">
    <div class="jumbotron">
        <h1>Express</h1>
        <p class="lead">Express is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p>
            <a href="http://expressjs.com/" class="btn btn-primary btn-large">Learn more »</a>
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>Express gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and
                gives you full control over markup for enjoyable, agile development.</p>
            <p>
                <a href="http://expressjs.com/" class="btn btn-default">Learn more »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>Node Packaged Modules is a repository of software for Node.js.</p>
            <p>
                <a href="https://www.npmjs.org/" class="btn btn-default">Learn more »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Microsoft Azure</h2>
            <p>You can easily publish to Microsoft Azure using Node.js Tools for Visual Studio. Find out how you can host your application
                using a free trial today.</p>
            <p>
                <a href="http://azure.microsoft.com" class="btn btn-default">Learn more »</a>
            </p>
        </div>
    </div>

    <div class="row">
        <input type="button" value="发送邮件" onclick="SendEmailTest();" class="btn btn-default" />
    </div>



</div>

<!--底部-->
<% include shared/_layout_footer.ejs  %>

<script type="text/javascript">
    var isSendingEmail=false;
    function SendEmailTest(){
        if(isSendingEmail){
            alert("邮件正在发送中...");
        }
        else{
            isSendingEmail=true;
            $.ajax({
                type: "POST",
                url: '/sendemail',
                data: null,
                success: function (data, textStatus){
                    if(data.success){
                        alert("执行成功！");
                    } else {
                        alert("执行失败！");
                        //$('#msg').html("执行失败！"+data.err);
                    }
                    isSendingEmail=false;
                },
                error:function (XMLHttpRequest, textStatus, errorThrown) {
                    // 通常 textStatus 和 errorThrown 之中
                    // 只有一个会包含信息
                    //this; // 调用本次AJAX请求时传递的options参数
                    alert("执行失败！");
                    isSendingEmail=false;
                }
            });
        }

    }
</script>