<!--搜索索引-->
<div class="panel panel-default" ng-controller="fullTextSearchController">
  <div class="panel-heading">
    <h3 class="panel-title">
      全文索引
    </h3>
    <br />
    <div id="sortOptions" >
      <table class="table">
        <tr>
          <td>

          </td>
          <td>
            <input type="button" value="删除并重建索引" onclick="DeleteAndCreateAllIndex();" class="btn btn-default" />

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>


          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </table>
    </div>

  </div>
  <div class="panel-body" style="min-height: 60px;">


  </div>
</div>